<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Catalogo Libri</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>

  <header class="header">
    <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-links-group">
          <h1 class="navbar-Title">SiwBooks</h1>
        </div>
        <div class="navbar-links-group">
          <a th:href="@{/}" class="navbar-link">Home</a>
          <a th:href="@{/admin/books}" class="navbar-link">Libri</a>
          <a th:href="@{/admin/authors}" class="navbar-link">Autori</a>
          <a th:href="@{'/admin/' + ${user.id}}" class="navbar-link active">Profilo</a>
          <form th:action="@{/logout}" method="post" style="display:inline">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="navbar-link">Esci</button>
          </form>


        </div>
      </div>
    </nav>
  </header>

  <div class="profile-wrapper">
    <div class="profile-box">
      <h1 th:text="'Bentornato ' + ${user.nome}">Bentornato Mario</h1>
      <p><strong>Nome:</strong> <span th:text="${user.nome}">Mario</span></p>
      <p><strong>Cognome:</strong> <span th:text="${user.cognome}">Rossi</span></p>
      <p><strong>Email:</strong> <span th:text="${user.email}">example@gmail.com</span></p>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-content">
      <p>Siwbooks - La tua libreria digitale</p>
    </div>
  </footer>


</body>
</html>

